#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: rgb(94, 94, 94);
    color: #9e0000;
    border: 1px;
    border-style: solid;
    border-color: #D6A800;
    padding: 10px;
}

a {
    color: rgb(110, 63, 32);
    text-decoration: none;
}
a:hover { color: #D6A800; }   
a:visited { color: #D6A800; }
